.cz_linia_info_clean{
    padding: 0px 0px 0px 0px; 
    font-size: 15px;
    font-family: Roboto,Arial,Helvetica;
    text-align: left;
    
}
.cz_linia_pro_cleaning{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art-text{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.article{
    width: 49%;
    padding: 0px 20px 0px 20px;
}
.art-veiw{
    width: 100%;
    height: auto;
    color: #666;
}
.cz_linia_text_perehid:hover{
    cursor: pointer;
    
}
.cz_linia_span_text{
    text-decoration: underline;
}
.cz_linia_span_text:hover{
    color: #f71515;
    text-decoration: underline;
}
#info1, #info2, #info3, #info4, #info5, #info6, #info7{
    display: none;
}
@media screen and (max-width: 900px){
    .art-text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .article{
        width: 100%;
        padding: 0px 10px 0px 10px;
        font-size: 20px;
    }
    .cz_linia_info_clean{
        font-size: 25px;
        text-align: justify;
    }
}
@media screen and (max-width: 767px){
    .art-text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .article{
        width: 100%;
        padding: 0px 10px 0px 10px;
        font-size: 20px;
    }
    .cz_linia_info_clean{
        font-size: 20px;
        text-align: justify;
    }
}